<%
locals.OLSKPageAssets = [
	'/_shared/__external/normalize.css/normalize.css',
	'__compiled/ui-style.css',

	'/_shared/__external/launchlet/__compiled/launchlet.js',
	'/_shared/__external/launchlet/__compiled/launchlet.css',
];
locals.OLSKPagePublicConstants = {
	OLSKSharedPageCurrentLanguage,
};
%>

<script src="/<%= OLSKSharedPageControllerSlug %>/__compiled/ui-behaviour.js"></script>

<p>
	<strong>JBXPlayDetailDispatchBack</strong>
	<span id="TestJBXPlayDetailDispatchBack">0</span>
</p>

<p>
	<strong>JBXPlayDetailDispatchArchive</strong>
	<span id="TestJBXPlayDetailDispatchArchive">0</span>
</p>

<p>
	<strong>JBXPlayDetailDispatchUnarchive</strong>
	<span id="TestJBXPlayDetailDispatchUnarchive">0</span>
</p>

<p>
	<strong>JBXPlayDetailDispatchFetch</strong>
	<span id="TestJBXPlayDetailDispatchFetch">0</span>
</p>

<p>
	<strong>JBXPlayDetailDispatchUpdate</strong>
	<span id="TestJBXPlayDetailDispatchUpdate">0</span>
</p>

<p>
	<strong>JBXPlayDetailDispatchDiscard</strong>
	<span id="TestJBXPlayDetailDispatchDiscard">0</span>
</p>

<p>
	<strong>JBXPlayDetailDispatchQueue</strong>
	<span id="TestJBXPlayDetailDispatchQueue">0</span>
</p>
