:root {
	--OLSKCommonBackground: rgb(254, 247, 177);
	--OLSKCommonForeground: #333;
	--OLSKCommonEdgeColor: #999;
}

body {
	background: var(--OLSKCommonBackground);
}

a {
	color: rgb(237, 59, 28);
}
