<div class="JBXRootLink">

<%- include('../../../node_modules/OLSKRootLink/main.ejs', {
	OLSKRootLinkURL: OLSKCanonicalLocalized('JBXVitrineRoute'),
	OLSKRootLinkImageURL: '/_shared/JBXRootLink/ui-assets/identity.svg',
}) %>

</div>
