:root {
	--OLSKCommonBackground: #222;
	--OLSKCommonForeground: #fee8b1;
	--OLSKCommonBorderColor: #777;
	--OLSKDecorForegroundLight: #444;
	--OLSKDecorBackgroundDeep: black;
	--OLSKDecorBackgroundDeepEdge: var(--OLSKDecorForegroundLight);
	--OLSKDecorFormBlendBackground: #333;
	--OLSKDecorFormBlendBorderColor: var(--OLSKDecorForegroundLight);

	--OLSKCollectionItemsLocusColorDefault: #555;
	--OLSKCollectionItemsLocusColorActive: rgb(255, 93, 35);
	--OLSKCollectionItemsLocusColorActiveInverse: white;

	--OLSKChunkHeadingBorderColor: #555;
	--OLSKChunkHeadingBackground: #303030;
}

input, textarea {
	border-color: var(--OLSKDecorForegroundLight) !important;
}

.OLSKDecorBigForm button, .JBXPlayDetailMediaOpenButton {
	border-color: unset !important;
}

hr {
	opacity: 0.2 !important;
}

svg * {
	stroke: var(--OLSKCommonForeground);
}

#_OLSKSharedApropos * {
	fill: var(--OLSKCommonForeground);
	stroke: none;
}

body {
	font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
	font-size: 9pt;
}

.OLSKTaxonomy .choices__button {
	background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjEiIGhlaWdodD0iMjEiIHZpZXdCb3g9IjAgMCAyMSAyMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsPSIjY2ZjY2EwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik0yLjU5Mi4wNDRsMTguMzY0IDE4LjM2NC0yLjU0OCAyLjU0OEwuMDQ0IDIuNTkyeiIvPjxwYXRoIGQ9Ik0wIDE4LjM2NEwxOC4zNjQgMGwyLjU0OCAyLjU0OEwyLjU0OCAyMC45MTJ6Ii8+PC9nPjwvc3ZnPg==) !important;
}

.OLSKCollectionItem.OLSKCollectionItemStash  {
	background: linear-gradient(to right, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0));
}

.OLSKBanner {
	display: none !important;
}
