:root {
	--OLSKCommonBackground: #222;
	--OLSKCommonForeground: rgb(254, 247, 177);
	--OLSKCommonBorderColor: #777;
	--OLSKCommonEdgeColor: #444;

	--OLSKCollectionItemsLocusColorDefault: #555;
	--OLSKCollectionItemsLocusColorActive: rgba(243, 83, 35);
	--OLSKCollectionItemsLocusColorActiveInverse: white;
}

svg * {
	stroke: var(--OLSKCommonForeground);
}

#_OLSKSharedApropos * {
	fill: var(--OLSKCommonForeground);
	stroke: none;
}

.OLSKToolbar a {
	color: var(--OLSKCommonForeground) !important;
}

body {
	font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
	font-size: 9pt;
}
