<div class="JOXRootLink">

<%- include('../../../node_modules/OLSKRootLink/main.ejs', {
	OLSKRootLinkURL: OLSKCanonicalLocalized('JOXVitrineRoute'),
	OLSKRootLinkImageURL: '/_shared/JOXRootLink/ui-assets/identity.svg',
}) %>

</div>
