:root {
	--OLSKCodeBackground: #ecd8a4;
	--OLSKCodeForeground: #6a694e;
};

.JBXGuideBookmarklet {
	padding: 5px;
	display: inline-block;

	border: 1px var(--OLSKCommonBorderColor) dashed;
	border-radius: 5px;
	
	background: var(--OLSKCommonInteractiveFill);
}
