:root {
	--OLSKCodeBackground: #ecd8a4;
	--OLSKCodeForeground: #6a694e;
}

.JBXGuideBookmarklet {
	padding: 5px;
	display: inline-block;

	border: 1px var(--OLSKCommonBorderColor) dashed;
	border-radius: 5px;
	
	background: var(--OLSKCommonInteractiveFill);
}

table:nth-of-type(2) strong {
	display: inline-block;
	max-width: 250px;
}

table:nth-of-type(2) pre {
	padding: 5px;
	display: inline-block;

	border: 1px var(--OLSKCommonBorderColor) solid;
	border-radius: 5px;
	
	background: var(--OLSKCommonInteractiveFill);

	font-size: 9pt;
}
