<%
locals.OLSKPageTitle = OLSKLocalized('JBXGuideTitle');
locals.OLSKPageDescription = OLSKLocalized('JBXGuideDescription');
locals.OLSKPageAssets = [
	'/_shared/__external/normalize.css/normalize.css',
	'/_shared/__external/OLSKDecor/ui-style.css',
	'/_shared/common/ui-style.css',
	'ui-style.css',
];
locals.OLSKPageUseLivereload = process.env.NODE_ENV === 'development';
%>

<div class="JBXGuide OLSKDecor OLSKDecorCapped">

<div class="JBXGuideCrown OLSKCommonCard OLSKCommonCrownCard">
	<section>
		<span class="JBXGuideCrownName"><%= OLSKLocalized('JBXGuideTitle') %></span>
	</section>
</div>

<div class="JBXGuideContent">
<%- OLSKStringReplaceTokens(JBXGuideContent, {
	JBXGuideTokenTextbox1a: 'alfa\nbravo',
	JBXGuideTokenTextbox1b: 'alfa\nbravo\nhttps://xyz.com',
	JBXGuideTokenTextbox2a: 'alfa\n\nbravo',
	JBXGuideTokenTextbox2b: 'alfa\nhttps://xyz.com/1\n\nbravo\nhttps://xyz.com/2',
	JBXGuideTokenTextbox2c: 'alfa https://xyz.com/1\nbravo https://xyz.com/2',
	JBXGuideTokenTextbox2d: 'alfa https://xyz.com/1 https://xy\nz.com/2',
}) %>

</div>

<hr role="presentation" />

<%- include('../_shared/JBXRootLink/main.ejs') %>

</div>
